<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <h2 align="center">เขียนบทความ</h2>
        <%- messages() %>
        <% if(locals.errors){ %>
        <ul class="alert alert-danger">
            <% Object.values(errors).forEach(function(error){ %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <form class="" action="/blog/add" method="post">
            <div class="form-group">
                <label for="">ชื่อบทความ</label>
                <input type="text" name="name" value="" placeholder="" class="form-control">
            </div>
            <div class="form-group">
                <label for="">บทความ</label>
                <textarea name="description" rows="8" cols="80" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="">ชื่อผู้แต่ง</label>
                <input type="text" name="author" value="" placeholder="" class="form-control">
            </div>
            <input type="submit" name="" value="บันทึก" class="btn btn-primary">
        </form>
    </div>
    <script>
        $(function(){
            $('#messages').addClass('alert alert-success');
        });
        CKEDITOR.replace( 'description' );
    </script>
</body>
</html>