<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   </head>
  <body>
    <%- include layout %>
    <div class="container">
        <a href="../blog/" class="display-1">Helloworld</a>
    </div>
  </body>
</html>
